<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Balance">
    <resultMap id="SalaryResult" type="com.springapp.mvc.Model.Salary">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="date" jdbcType="CHAR" property="date"/>
        <result column="owner" jdbcType="CHAR" property="owner"/>
        <result column="before_tax" jdbcType="DECIMAL" property="beforeTax"/>
        <result column="after_tax" jdbcType="DECIMAL" property="afterTax"/>
        <result column="house_funds_company" jdbcType="DECIMAL" property="houseFundsCompany"/>
        <result column="house_funds" jdbcType="DECIMAL" property="houseFunds"/>
        <result column="medicare_company" jdbcType="DECIMAL" property="medicareCompany"/>
        <result column="medicare" jdbcType="DECIMAL" property="medicare"/>
        <result column="pension_insurance_company" jdbcType="DECIMAL" property="pensionInsuranceCompany"/>
        <result column="pension_insurance" jdbcType="DECIMAL" property="pensionInsurance"/>
        <result column="unemploy_insurance" jdbcType="DECIMAL" property="unemployInsurance"/>
        <result column="unemploy_insurance_company" jdbcType="DECIMAL" property="unemployInsuranceCompany"/>
        <result column="tax" jdbcType="DECIMAL" property="tax"/>
        <result column="insurance_base" jdbcType="DECIMAL" property="insuranceBase"/>
        <result column="fund_base" jdbcType="DECIMAL" property="fundBase"/>
        <result column="media_cash" jdbcType="DECIMAL" property="mediaCash"/>
        <result column="note" jdbcType="CHAR" property="note"/>
    </resultMap>

    <resultMap id="ExpenseResult" type="com.springapp.mvc.Model.Expense">
        <result column="date_expense" jdbcType="CHAR" property="date"/>
        <result column="daily_expense" jdbcType="CHAR" property="dailyExpense"/>
        <result column="mortgage" jdbcType="DECIMAL" property="mortgage"/>
    </resultMap>

    <resultMap id="BalanceResult" type="com.springapp.mvc.Model.Balance">
        <result column="date" jdbcType="CHAR" property="date"/>
        <result column="month_left" jdbcType="DECIMAL" property="left"/>
        <result column="month_budget" jdbcType="DECIMAL" property="budget"/>
        <result column="month_budget_left" jdbcType="DECIMAL" property="monthBudgetLeft"/>
    </resultMap>

    <resultMap id="SocialFundsResult" type="com.springapp.mvc.Model.SocialFunds">
        <result column="h_house_fund" jdbcType="DECIMAL" property="hHouseFund"/>
        <result column="h_medi_fund" jdbcType="DECIMAL" property="hMediFund"/>
        <result column="w_house_fund" jdbcType="DECIMAL" property="wHouseFund"/>
        <result column="w_medi_fund" jdbcType="DECIMAL" property="wMediFund"/>
    </resultMap>

    <resultMap id="BugdgetSum" type="java.math.BigDecimal">
        <result column="budgetSum" jdbcType="DECIMAL" property="bugetSum"/>
    </resultMap>

    <resultMap id="leftSum" type="java.math.BigDecimal">
        <result column="leftSum" jdbcType="DECIMAL" property="leftSum"/>
    </resultMap>

    <select id="getSalaryById" resultMap="SalaryResult">
        select id,date, owner, before_tax, after_tax, house_funds_company, house_funds, medicare_company,
        medicare, pension_insurance_company,pension_insurance,unemploy_insurance,unemploy_insurance_company,tax,
        insurance_base, fund_base,media_cash,note from salary where id=#{id}
    </select>

    <select id="getSalaryList" resultMap="SalaryResult">
        select id,date, owner, before_tax, after_tax, house_funds_company, house_funds, medicare_company,
        medicare, pension_insurance_company,pension_insurance,unemploy_insurance,unemploy_insurance_company,tax,
        insurance_base, fund_base,media_cash,note from salary order by date desc limit 24;
    </select>

    <select id="getSalaryListByDate" resultMap="SalaryResult">
        select id,date, owner, before_tax, after_tax, house_funds_company, house_funds, medicare_company,
        medicare, pension_insurance_company,pension_insurance,unemploy_insurance,unemploy_insurance_company,tax,
        insurance_base, fund_base,note from salary where date=#{date};
    </select>

    <insert id="saveSalary" parameterType="com.springapp.mvc.Model.Salary" useGeneratedKeys="true" keyProperty="id">
        insert into salary (date,owner,before_tax,after_tax,house_funds_company,house_funds,medicare_company,
        medicare,pension_insurance_company,pension_insurance,unemploy_insurance,unemploy_insurance_company,tax,
        insurance_base,fund_base,media_cash,note) value(#{date},#{owner},#{beforeTax},#{afterTax},#{houseFundsCompany},#{houseFunds},
        #{medicareCompany},#{medicare},#{pensionInsuranceCompany},#{pensionInsurance},#{unemployInsurance},
        #{unemployInsuranceCompany},#{tax},#{insuranceBase},#{fundBase},#{mediaCash},#{note});
    </insert>

    <delete id="deleteSalaryById">
        delete from salary where id=#{id};
    </delete>

    <insert id="saveExpense" parameterType="com.springapp.mvc.Model.Expense">
        insert into expense (date_expense, daily_expense, mortgage) value(#{date}, #{dailyExpense}, #{mortgage});
    </insert>

    <select id="getExpenseList" resultMap="ExpenseResult">
        select date_expense, daily_expense, mortgage from expense order by date_expense desc limit 12;
    </select>

    <select id="getExpenseListByDate" resultMap="ExpenseResult">
        select date_expense, daily_expense, mortgage from expense where date=#{date};
    </select>

    <update id="updateBalance" parameterType="com.springapp.mvc.Model.Balance">
        update balance set month_left=#{left}, month_budget=${budget}, month_budget_left=#{monthBudgetLeft} where date = #{date};
    </update>

    <select id="getBalance" resultMap="BalanceResult">
        select date, month_left, month_budget, month_budget_left from balance where date=#{date};
    </select>

    <select id="getBalanceList" resultMap="BalanceResult">
        select date, month_left, month_budget, month_budget_left from balance order by date desc limit #{n};
    </select>

    <insert id="insertBalance" parameterType="com.springapp.mvc.Model.Balance">
        insert balance (date, month_left, month_budget, month_budget_left) values(#{date},#{left},#{monthBudgetLeft}, #{budget});
    </insert>

    <insert id="insertSocialFunds" parameterType="com.springapp.mvc.Model.SocialFunds">
        insert social_funds(h_house_fund,h_medi_fund,w_house_fund,w_medi_fund) values(#{hHouseFund},#{hMediFund},#{wHouseFund},#{wMediFund});
    </insert>

    <update id="updateSocialFunds" parameterType="com.springapp.mvc.Model.SocialFunds">
        update social_funds set h_house_fund=#{hHouseFund},h_medi_fund=#{hMediFund},w_house_fund=#{wHouseFund},w_medi_fund=#{wMediFund};
    </update>

    <select id="getSocialFunds" resultMap="SocialFundsResult">
        select h_house_fund,h_medi_fund,w_house_fund,w_medi_fund from social_funds;
    </select>

    <select id="getBudgetSum" resultMap="BugdgetSum">
      select sum(month_budget_left) as budgetSum from balance;
    </select>

    <select id="getLeftSum" resultMap="leftSum">
        select sum(month_left) as leftSum from balance;
    </select>



</mapper>