<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Insurance">
    <resultMap id="InsuranceResult" type="com.springapp.mvc.Model.Insurance">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="company" jdbcType="CHAR" property="company"/>
        <result column="belong_to" jdbcType="CHAR" property="belongTo"/>
        <result column="coverage" jdbcType="INTEGER" property="coverage"/>
        <result column="years" jdbcType="INTEGER" property="years"/>
        <result column="owner" jdbcType="CHAR" property="owner"/>
        <result column="start" jdbcType="DATE" property="start"/>
        <result column="end" jdbcType="DATE" property="end"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <select id="displayValid" resultMap="InsuranceResult">
      SELECT id, company, belong_to, coverage, years, start, name, owner, type, age, amount,end FROM insurance where end >= Now() order by owner,type;
    </select>

    <select id="displayPast" resultMap="InsuranceResult">
        SELECT id, company, belong_to, coverage, years, start, name, owner, type, age, amount,end FROM insurance where end &lt; Now() order by owner,type;
    </select>

    <insert id="insert" parameterType="com.springapp.mvc.Model.Insurance">
        insert insurance(company, belong_to, coverage, years, start, name, owner, type, age, amount,end) values(#{company}, #{belongTo}, #{coverage}, #{years}, #{start}, #{name}, #{owner}, #{type}, #{age}, #{amount},#{end});
    </insert>
</mapper>