<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Stocks">
    <resultMap id="StockResult" type="com.springapp.mvc.Model.Stock">
        <id column="code" jdbcType="CHAR" property="code"/>
        <id column="belong_to" jdbcType="CHAR" property="belongTo"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="cost" jdbcType="DECIMAL" property="cost"/>
        <result column="share" jdbcType="DECIMAL" property="share"/>
        <result column="current" jdbcType="DECIMAL" property="current"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="risk" jdbcType="CHAR" property="risk"/>
        <result column="currency" jdbcType="CHAR" property="currency"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="rmb_cost" jdbcType="DECIMAL" property="rmbCost"/>
        <result column="strategy_code" jdbcType="DECIMAL" property="strategyCode"/>
    </resultMap>

    <resultMap id="StragetyResult" type="com.springapp.mvc.Model.Strategy">
        <id column="code" jdbcType="CHAR" property="code"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="cash" jdbcType="DECIMAL" property="cash"/>
        <result column="used_amount" jdbcType="DECIMAL" property="usedAmount"/>
    </resultMap>

    <resultMap id="SumResult" type="java.util.HashMap">
        <result column="sum(amount)" jdbcType="DECIMAL" property="sum"/>
    </resultMap>

    <resultMap id="SumByRisk" type="java.util.Map">
        <result column="risk" property="risk" jdbcType="CHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="SumByBelongTo" type="java.util.Map">
        <result column="belong_to" property="belongTo" jdbcType="CHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="SumByType" type="java.util.HashMap">
        <result column="type" property="key" jdbcType="CHAR"/>
        <result column="amount" property="value" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="SumByStrategyCode" type="java.util.HashMap">
        <result column="strategy_code" property="key" jdbcType="CHAR"/>
        <result column="value" property="value" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getStockList" resultMap="StockResult">
        select code, name, belong_to, cost, current, share, risk, rmb_cost, type from stocks where share > 0 and currency=#{currency} order by belong_to,current*share desc;
    </select>

    <select id="getStockListMap" resultMap="StockResult" parameterType="java.util.Map">
        select code, name, belong_to, cost, current, share, risk, rmb_cost, type from stocks where share > 0 and currency=#{currency} and code > ${flag} order by belong_to,risk,current*share desc;
    </select>

    <select id="getStockByCB" resultMap="StockResult">
        select code, name, belong_to, cost, current, share, risk,type,strategy_code from stocks where code=#{code} and belong_to=#{belongTo};
    </select>

    <insert id="insertStock" parameterType="com.springapp.mvc.Model.Stock">
        insert into stocks(code, name, belong_to, cost, share, risk, currency, rmb_cost) values (#{code}, #{name}, #{belongTo}, #{cost},#{share}, #{risk}, #{currency}, #{rmbCost});
    </insert>

    <insert id="updateStock" parameterType="com.springapp.mvc.Model.Stock">
        update stocks set name=#{name}, cost=#{cost}, share=#{share}, risk=#{risk}, rmb_cost=#{rmbCost},current=#{current},type=#{type} where code=#{code} and belong_to=#{belongTo};
    </insert>

    <insert id="addStrategyCodeToStock" parameterType="java.util.Map">
        update stocks set strategy_code=#{strategyCode} where code=#{code} and belong_to=#{belongTo};
    </insert>

    <select id="getSum" resultMap="SumResult">
        select sum(share * current) as amount from stocks where currency=#{currency};
    </select>

    <select id="sumByRisk" resultMap="SumByRisk">
        select risk, sum(current*share) as amount from stocks where currency=#{currency} group by risk;
    </select>

    <select id="sumByBelongTo" resultMap="SumByBelongTo">
        select belong_to, sum(current*share) as amount from stocks where currency=#{currency} group by belong_to;
    </select>

    <select id="sumByType" resultMap="SumByType">
        select type, sum(current*share) as amount from stocks WHERE SHARE > 0 AND currency='cny' GROUP BY TYPE;
    </select>

    <insert id="updateCurrent" parameterType="java.util.Map">
        update stocks set current = #{current} where code = #{code};
    </insert>

    <delete id="delete" parameterType="String">
        delete from stocks where code = #{code} and belong_to=#{belongTo};
    </delete>

    <select id="picture" parameterType="java.util.List">
        insert into assets_every_month(code, name, share, net, risk) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.code,jdbcType=CHAR},#{item.name,jdbcType=CHAR},#{item.share,jdbcType=DECIMAL},#{item.current,jdbcType=DECIMAL},#{item.risk,jdbcType=CHAR})
        </foreach>
    </select>

    <select id="updatePicture" parameterType="java.util.Map">
        update assets_every_month set deal_date=#{date}, type=#{type} where type is null;
    </select>

    <select id="getLatestPictureDate" resultType="java.util.Date">
        SELECT deal_date FROM assets_every_month WHERE TYPE=#{type} ORDER BY deal_date DESC LIMIT 1;
    </select>

    <select id="getStrategyStocks" resultMap="StockResult">
        select code, name, belong_to, cost, current, share, risk, rmb_cost, type from stocks where share > 0 and strategy_code=#{strategyCode} order by belong_to,current*share desc;
    </select>

    <select id= "getAllStrategyStocks" resultMap="StockResult">
      select code, name, belong_to, cost, current, share, risk, rmb_cost, type from stocks where strategy_code=#{strategyCode} order by belong_to,current*share desc;
    </select>

    <select id="getStrategys" resultMap="StragetyResult">
      SELECT strategy.`code`, strategy.`name`, strategy.`amount`, strategy.`cash` ,(SELECT SUM(stocks.`cost` * stocks.`share`)) AS used_amount,
      (SELECT SUM((stocks.`current` - stocks.`cost`) * stocks.`share`))
       AS profit FROM strategy LEFT JOIN stocks ON strategy.`code`=stocks.`strategy_code` group by stocks.`strategy_code` order by strategy.`code`;
    </select>

    <select id="getStocksWithoutStrategy" resultMap="StockResult">
        select code, name, belong_to, cost, current, share, risk, rmb_cost, type from stocks where share > 0 and code > 0 and strategy_code is null order by current*share desc;
    </select>

    <select id="getStrategyByCode" resultMap="StragetyResult">
        select code, name, amount, cash from strategy where code=#{code};
    </select>

    <insert id="strategyAdd" parameterType="com.springapp.mvc.Model.Strategy">
        insert strategy(code, name, amount, cash) values (#{code}, #{name}, #{amount}, #{cash});
    </insert>

    <update id="strategyUpdate" parameterType="com.springapp.mvc.Model.Strategy">
        update strategy set name=#{name}, amount=#{amount}, cash=#{cash} where code=#{code};
    </update>

    <select id="getStrategyValue" resultMap="SumByStrategyCode">
        SELECT strategy_code, SUM(SHARE * current) as value FROM stocks WHERE strategy_code IS NOT NULL GROUP BY strategy_code;
    </select>

</mapper>